@use 'base/variables' as v;
@use 'base/mixins' as m;


.bloque7 {
    height: auto;
    background-color: #0033A0;
    position: relative;
    padding: 2rem;
    color: white;
    text-align: left;
}

.bloque7Back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.bloque7BackDesktop {
    display: none;
}

@media (min-width: 1020px) {
    .bloque7Back {
        display: none;
    }
    .bloque7BackDesktop {
        display: block;
        position: absolute;
        width: 120%;
        height: auto;
        top: 0;
        right: 0;
    }
}

.bloque7Container {
    position: relative;
    z-index: 2;
    max-width: 1000px;
    margin: 0;
    padding-left: 1rem;
}

.bloque7Title h3 {
    font-size: 2rem;
    font-weight: 400;
    margin-left: 0;
}

.bloque7Title span {
    font-weight: 800;
}

.bloque7Buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin: 1.5rem 0;
}

.bloque7Buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;
}

.bloque7Button,
.bloque7ButtonActive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    padding: 1rem 1.5rem;
    border-radius: 50px;
    font-weight: bold;
    border: 2px solid white;
    cursor: pointer;
    font-size: 1rem;
    white-space: nowrap;
}

.bloque7Button {
    background: transparent;
    color: white;
}

.bloque7ButtonActive {
    background: white;
    color: black;
}

@media (max-width: 768px) {
    .bloque7Buttons {
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
    }
    .bloque7Button,
    .bloque7ButtonActive {
        width: 100%;
        max-width: 320px;
        text-align: center;
    }
}
.bloque7Content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    margin-left: 1rem;
    width: 100%;
}

.bloque7Item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 100%;
    margin-left: 0;
    gap: 1rem;
}

.bloque7Item img {
    width: 50px;
    height: auto;
}

.bloque7ItemText {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 0;
    align-items: center;
}

.bloque7ItemText h4 {
    font-size: 1rem;
    font-weight: 800;
    text-align: left;
}

.bloque7ItemText h5 {
    font-size: 0.9rem;
    font-weight: 400;
    text-align: right;
}

@media (max-width: 768px) {
    .bloque7Content {
        align-items: center;
    }
    .bloque7Item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .bloque7ItemText {
        flex-direction: column;
        align-items: center;
    }
    .bloque7ItemText h4, .bloque7ItemText h5 {
        width: 100%;
        text-align: center;
    }
}
