doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title Conversatorios Cayetano
        link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        script(src='https://www.google.com/recaptcha/api.js' async='' defer='')
        //- script(async).
        //-     (function(h,o,t,j,a,r){
        //-     h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        //-     h._hjSettings={hjid:3659234,hjsv:6};
        //-     a=o.getElementsByTagName('head')[0];
        //-     r=o.createElement('script');r.async=1;
        //-     r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        //-     a.appendChild(r);
        //-     })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
    body
        .bloque1 
            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/esp_est_movil_top.webp", alt="")
            .bloque1Container
                .bloque1Left
                    img.bloque1LeftLogo(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/esp_logo.webp", alt="")
                    .bloque1LeftTitle
                        h3 Segunda Especialidad Profesional
                        h2 en Cirugía Bucal y Maxilofacial
                    .bloque1LeftSubtitle
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/esp_logo2_top.webp", alt="")
                        h3 Cierre de inscripciones:
                        h4 04 de noviembre
                .bloque1Right
        .bloque2
            .bloque2Container
                .bloque2Left
                    .bloque2LeftTitle
                        h3 Amplía tu horizonte profesional con 
                            span los mejores
                    .bloque2LeftDescription
                        .bloque2LeftItem
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/esp_est_icon2.webp", alt="")
                            .bloque2LeftItemDesc
                                h3 Modalidad:
                                h2 Presencial
                        .bloque2LeftItem
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/esp_est_icon3.webp", alt="")
                            .bloque2LeftItemDesc
                                h3 Duración:
                                h2 8 semestres
                        .bloque2LeftItem
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/esp_est_icon1.webp", alt="")
                            .bloque2LeftItemDesc
                                h3 Inicio:
                                h2 01 de noviembre
                .bloque2Right
                    .bloque2LeftSeparator
                        .bloque2LeftSeparatorLine
                    .bloque2RightTitle
                        h3 Avanza en 
                            span tu profesión 
                        h4 Déjanos tus datos para brindarte una atención personalizada.
                    .bloque2Form
                        .bloque2InputDouble
                            input(type="text" placeholder="Nombres*")
                            input(type="text" placeholder="Apellidos*")
                        input(type="text" placeholder="Correo*")
                        input(type="text" placeholder="N° de Whatsapp*")
                        .bloque2InputDouble
                            input(type="text" placeholder="Tipo de doc.*")
                            input(type="text" placeholder="N° de doc*")
                        .bloque2InputDouble
                            //desplegable
                            input(type="text" placeholder="Departamento*")
                            //escrito
                            input(type="text" placeholder="Ciudad*")
                        input(type="text" placeholder="Grado Académico*")
                        .bloque2Terminos
                            input(type="checkbox" name="check")
                            label(for="check") Política de privacidad y términos de servicio.  
                        .bloque2Button
                            button 
                                h3 Enviar
        .bloque3
            img.bloque3ImageMovil(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/esp_movil_shield1-scaled.webp", alt="")
            .bloque3Container
                .bloque3Left
                    .bloque3LeftTitle
                        h3 Especialízate para 
                            span tu futuro
                        h4 Recibe una formación especializada para diagnosticar y tratar patologías, traumatologías y anomalías dentofaciales de alta complejidad en la región bucomaxilofacial.
                    .bloque3LeftSlider
                        .slider__container2.swiper.mySwiper2
                            .slider__grid2.swiper-wrapper
                                .slider__item2.swiper-slide
                                    .sliderItemInfo2
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/esp_est_future1.webp", alt="")
                                        h3 Prevendrás patologías bucomaxilofaciales con énfasis en la patología quirúrgica, para 
                                            span mejorar la calidad de vida del paciente.
                                .slider__item2.swiper-slide
                                    .sliderItemInfo2
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/esp_est_future2.webp", alt="")
                                        h3 Serás capaz de realizar procedimientos quirúrgicos de alta complejidad para atender traumas faciales, aplicando técnicas quirúrgicas de avanzada.
                                .slider__item2.swiper-slide
                                    .sliderItemInfo2
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/esp_est_future3.webp", alt="")
                                        h3 Desarrollarás y difundirás investigaciones aplicadas a la Cirugía Bucal y Maxilofacial.
                        .swiper-arrows2
                            h3 |
                        .swiper-button-prev2
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/esp-arrow-right-white.png", loading="lazy", alt="egel_enfermeria_arrow_left_black")
                        .swiper-button-next2
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/esp-arrow-left-white.png", loading="lazy", alt="egel_enfermeria_arrow_rigjt_black")
                        //- .swiper-pagination3 
                .bloque3Right
        .bloque4
            .bloque4Container
                .bloque4Left
                    .bloque4LeftTop
                        .bloque4LeftTopTitle
                            h3 Especialízate para 
                                span tu futuro
                            h4 Recibe una formación especializada para diagnosticar y tratar patologías, traumatologías y anomalías dentofaciales de alta complejidad en la región bucomaxilofacial.
                    .bloque4LeftBottom
                .bloque4Right
        script(src="./js/script.js" async)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")